<div class="box hover:scale-105 transition-all duration-500 cursor-pointer flex flex-col items-center rounded-lg overflow-hidden w-[15rem] max-3"  (click)="navigate()">
     <div class="h-[13rem] w-[10rem]">
        <img  class="object-cover object-top w-full h-full" [src]="products.imageUrl" alt="">
       
     </div>
     <div class="p-4">
        <h3 class="font-medium  text-sm">{{products.brand}}</h3>
        <p class="mt-2 text-sm  text-gray-500">
            {{products.title}}
        </p>

        <button class=""></button>

     </div>
</div>
