<div class="bg-black text-white mt-10 text-center px-5 lg:px-20">
    <div class="container">
        <div class="py-5 flex justify-between">
              <div class="px4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">partners</p>
              </div>
              <div class="px4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Company</h3>
                <p class="mb-2">About</p>
                <p class="mb-2">Blog</p>
                <p class="mb-2">Jobs</p>
                <p class="mb-2">Press</p>
                <p class="mb-2">support</p>
              </div>
              <div class="px4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Documentation</h3>
                <p class="mb-2">Guides</p>
                <p class="mb-2">API Status</p>
              </div>
              <div class="px4">
                <h3 class="px-5 text-lg font-semibold text-gray-500">Legal</h3>
                <p class="mb-2">Claim</p>
                <p class="mb-2">Privacy</p>
                <p class="mb-2">Terms</p>
              </div>
        </div>
        <div class="pt-10 text-center text-gray-600">
            <p>&copy:My company. All rights reserved.</p>
            <p>Made with love by me.</p>
            <p>Icons made by <a class="text-white underline" target="_blank" rel="noopener noreferrer">
                www.flaticon.com
            </a></p>
          </div>
    </div>

</div>
