<div class="productCard w-[17rem] m-3 transition-all cursor-pointer" (click)="navigate()">
    <div class="h-[20rem]">
        <img class="h-full w-full" [src]="product.imageUrl" alt="">

    </div>
    <div class="textPart p-3 bg-[#0b0b0b]">
        <div>
            <p class="opacity-80"> {{product.brand}}</p>
            <p>{{product.title}}</p>
            <p class="text-gray-600 line-through"> {{product.color}}</p>
        </div>
        <div class="flex space-x-2 flex-wrap items-center">
        <p> {{product.selling_price}}</p>
        <p>{{product.price}}</p>
        <p>{{product.disscount}}</p>
        </div>

    </div>

</div>
